{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% load static %}
{% block css_sheet %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/watch.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->
{% endblock %}
{% block content %}
<div class="login-panel">
    <h1>Log-in</h1>
    {% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}
    <p class="tip">Please, use the following form to log-in:</p>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <a href="/sign-up">Sign Up</a>
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
</div>

{% endblock %}